<%- include('../layout/header-admin') -%>

<div dir="rtl" class="container">
    <h1 style="text-align: right;color: white;"> ورور به داشبورد سایت</h1>
    <br>

    <form style="width: 400px;" action="./login" method="POST">
        <input name="name" type="text" class="form-control" placeholder="نام کاربری">
        <input name="password" type="password" class="form-control" placeholder="پسورد">
        <br><br>
        <button class="btn btn-primary" type="submit">ورود</button>
    </form>
</div>