<%- include('../layout/header-clint') -%>
<div dir="rtl" class="container">
    <br><br>
    <h1>ورود</h1>
    <% if(error.length){ %>
    <div style="text-align: right;direction: rtl;" class="alert alert-danger">
        <ul>
            <% error.forEach(function (err) {%>
            <li><%= err %></li>
            <% }) %>
        </ul>
    </div>
    <% } %>
    <form action="./login" method="POST">
        <input style="width: 350px;border-radius: 2px;" name="email" type="email" placeholder="email">
        <br><br>
        <input style="width: 350px;border-radius: 2px;" name="password" type="password" placeholder="password">
        <br><br>
        <%- recaptcha %> 
        <br><br>
        <button type="submit">ورود</button>
    </form>
    <br>
</div>
<%- include('../layout/footer-clint') -%>